.json-table {
  border-collapse: collapse;
  border: 1px solid black;
  width: auto;
  height: auto;
}

.json-table-header {
  background-color: #e5e7eb;
}

.json-table-cell {
  border: 1px solid black;
  font-size: 12px;
}

.json-table-cell-bold {
  font-weight: bold;
}

.json-table-row-even {
  background-color: #ffffff;
}

.json-table-row-odd {
  background-color: #f3f4f6;
}

.editable-cell {
  padding: 2px;
  font-size: 12px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editable-cell-icon {
  cursor: pointer;
  margin-left: 4px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.editable-cell-icon.visible {
  opacity: 1;
}

.editable-cell-icon.hidden {
  opacity: 0;
}

.editable-cell:hover .editable-cell-icon {
  opacity: 1;
}


.editable-cell-input {
  border: none;
  background: transparent;
  width: auto;
}

.editable-cell-editing {
  border: 1px solid #3b82f6;
}

.json-table-cell-key {
  font-weight: bold;
}

.json-table-cell-value {
  /* Add any specific styles for value cells if needed */
}

.json-table-row-highlighted {
  background-color: #e6f2ff; /* Light blue background */
  transition: background-color 0.2s ease; /* Smooth transition for hover effect */
}

.json-table-row-highlighted-array {
  background-color: #e6f7ff; /* Light blue color for rows */
}

.json-table-header-highlighted-array {
  background-color: #d1e9ff; /* Slightly darker blue for the header */
}

.action-editable-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.delete-button,
.confirm-delete-button {
  color: #ff4d4f;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: block;
}

.delete-button:hover,
.confirm-delete-button:hover {
  background-color: rgba(255, 77, 79, 0.1);
}

.confirm-delete-button {
  color: #52c41a;
}

.confirm-delete-button:hover {
  background-color: rgba(82, 196, 26, 0.1);
}

.json-table-header-delete,
.json-table-cell-delete {
  background-color: #ffcccb;
}

.json-table-header-delete {
  position: relative;
}

.json-table-header-delete::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.1);
  pointer-events: none;
}
